flask==3.0.2
Werkzeug==3.0.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
email-validator==2.1.0.post1
Flask-SocketIO==5.3.6
python-engineio==4.9.0
python-socketio==5.11.0
tensorflow==2.15.0
tensorflowjs==4.15.0
eventlet==0.33.3 